# Application
ENVIRONMENT=local
# local: development in local environment
# production: deployment in production environment

PORT=3000

# Database Vel IAM
DATABASE_URL="postgresql://<<user>>:<<password>>@localhost:5432/<<name>>"
